.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-family: "Orbitron", sans-serif;

  &__title {
    position: absolute;
    left: 0;
  }

  &__list {
    display: flex;
    position: absolute;
    left: 50%;
    flex-direction: row;
    list-style-type: none;
    transform: translateX(-50%);
    gap: 4rem;
    font-weight: 600;

    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
        &:visited {
          color: inherit;
        }
      }
    }

    &__home {
      transition: color 0.3s;
      &:hover {
        color: var(--accent-color);
      }
    }

    &__search {
      transition: color 0.3s;
      &:hover {
        color: var(--accent-color);
      }
    }

    &__my-games {
      transition: color 0.3s;
      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__profile {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

.modal-profile {
  position: absolute;

  top: 3rem;
  right: 1.9rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--text-color);
  z-index: 1000;

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--bg-color);

    &__profile {
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: var(--accent-hover-color);
      }
    }
    &__logOut {
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: var(--accent-hover-color);
      }
    }
  }
}
