.searchPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__searchFunc {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 4rem;

    &__bar {
      &.input-wrapper__field {
        width: 40rem;
      }
    }

    &__submit {
      &.btn {
        width: 6rem;
      }
    }
  }

  &__gameList {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 2rem;

    &__gameCard {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      &__gameImg {
        width: 24rem;
        height: 12rem;
        object-fit: contain;
        border-radius: 1rem;
      }
      h3 {
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
